.card {
    text-align: center;
    padding: 2.5rem;
    padding-top: 8rem;
    border-radius: 1.2rem;
    box-shadow: $shadow-medium;
    position: relative;
    backface-visibility: hidden;

    &__img {
        // transition: all 500ms cubic-bezier(0.310, 0.440, 0.445, 1.650);
        margin-bottom: 3rem;
    }

    &__datails {
        font-size: $font-size-normal;
        color: $grayblue-color;
        margin-bottom: 4rem;
    }

    &__btn-box {
        backface-visibility: hidden;

        &::before {
            content: "";
            left: 0;
            width: 100%;
            position: absolute;
            border-top: .5rem dotted $grayblue-color;
            opacity: .3;
        }

        .btn {
            margin-top: 3rem;
            padding: 1.2rem 3.5rem;
        }
    }

    &:hover {
        .card__img {
            animation: levitate 1.5s ease-in-out;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
            animation-direction: normal;
            animation-fill-mode: backwards;
        }
    }
}

.card > * {
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000) !important;
} 