.card {
    text-align: center;
    padding: 2.5rem;
    padding-top: 8rem;
    border-radius: 1.2rem;
    box-shadow: $shadow-medium;
    position: relative;
    backface-visibility: hidden;

    &__img {
        margin-bottom: 3rem;
        backface-visibility: hidden;

        img {
            transition: all .5s ease;
            opacity: 1;
            backface-visibility: hidden;
        }
    }

    &__datails {
        font-size: $font-size-normal;
        color: $grayblue-color;
        margin-bottom: 4rem;
    }

    &__btn-box {

        &::before {
            content: "";
            left: 0;
            width: 100%;
            position: absolute;
            border-top: .5rem dotted $grayblue-color;
            opacity: .3;
        }

        .btn {
            margin-top: 3rem;
            padding: 1.2rem 3.5rem;
        }
    }

    &:hover {
        .card__img {
            img {
                animation: levitate 1.5s ease-in-out;
                animation-iteration-count: infinite;
                animation-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
                animation-fill-mode: backwards;
            }
        }
    }
}