.tab {
    display: inline-block;
    text-decoration: none;
    padding: 3rem 4rem;
    border-bottom: 4px solid transparent;
    color: $darkblue-color;
    transition: all .2s ease-in;

    &:hover {
        border-bottom: 4px solid $grayblue-color;
    }
}

.tab.active {
    & {
        border-bottom: 4px solid $secondary-color;
    }
}