*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
}

body {
    font-size: 1.8rem;
    position: relative;
    color: $darkblue-color;
    
    animation: show 2.5s ease;
    animation-fill-mode: backwards;
}

.container {
    margin: 0 15%;
}