@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

.heading-primary {
    font-weight: 500;
    font-size: 5rem;
    line-height: 6rem;
}

.heading-secondary {
    font-weight: 500;
    font-size: 3rem;
    line-height: 2rem;
}

.heading-tertiary {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
}

.heading-quaternary {
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.small-paragraph {
    color: $grayblue-color;
    line-height: 2rem;
    font-size: $font-size-small;
}

.paragraph {
    color: $grayblue-color;
    line-height: 3rem;
}