// ==============|
//      TEXT     |
// ==============|

.u-uppercase { text-transform: uppercase; }
.u-text-center { text-align: center; }

// =================|
//      MARGINS     |
// =================|

.u-margin-bottom-small { margin-bottom: 2rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 8rem; }

.u-margin-right-small { margin-right: 1.5rem; }