@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
.slide-from-left {
  animation: slide-from-left .5s ease-in-out;
  animation-fill-mode: backwards; }

.slide-from-right {
  animation: slide-from-right .5s ease-in-out;
  animation-fill-mode: backwards; }

.rotate-arrow {
  animation: rotate .2s ease-in-out;
  animation-fill-mode: forwards;
  color: #fa5757 !important; }

.rotate-arrow-reverse {
  animation: rotate-reverse .2s ease-in-out; }

.expand-list {
  animation: expand-list .2s ease-in-out; }

@keyframes expand-list {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(180deg); } }

@keyframes rotate-reverse {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes slide-from-right {
  0% {
    transform: translateX(30rem);
    opacity: 0; }
  100% {
    transform: translateX(0rem);
    opacity: 1; } }

@keyframes slide-from-right-hero-image {
  0% {
    transform: translateX(30rem);
    opacity: 0; }
  100% {
    transform: translateX(10rem);
    opacity: 1; } }

@keyframes slide-from-left {
  0% {
    transform: translateX(-30rem);
    opacity: 0; }
  100% {
    transform: translateX(0rem);
    opacity: 1; } }

@keyframes slide-from-left-hero-shape {
  0% {
    transform: translateX(100rem) translateY(32rem);
    opacity: 0; }
  100% {
    transform: translateX(28.5rem) translateY(32rem);
    opacity: 1; } }

@keyframes slide-from-up {
  0% {
    transform: translateY(-10rem);
    opacity: 0; }
  100% {
    transform: translateY(0rem);
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.heading-primary {
  font-weight: 500;
  font-size: 5rem;
  line-height: 6rem; }

.heading-secondary {
  font-weight: 500;
  font-size: 3rem;
  line-height: 2rem; }

.heading-tertiary {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.8rem;
  margin-bottom: 1.5rem; }

.heading-quaternary {
  font-weight: 400;
  font-size: 2rem; }

.small-paragraph {
  color: #9194a1;
  line-height: 3.5rem;
  font-size: 1.8rem; }

.paragraph {
  color: #9194a1;
  line-height: 3rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden; }

body {
  font-size: 1.8rem;
  position: relative;
  color: #252b46;
  animation: show 2.5s ease;
  animation-fill-mode: backwards; }

.container {
  margin: 0 15%;
  max-width: 1920px; }

.u-uppercase {
  text-transform: uppercase; }

.u-text-center {
  text-align: center; }

.u-description-heading {
  text-align: center;
  max-width: 55rem;
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-right-small {
  margin-right: 1.5rem; }

.btn,
.btn:visited,
.btn:link {
  display: inline-block;
  padding: 1.5rem 2rem;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  border: 2px solid transparent;
  transition: all .2s ease; }
  .btn:hover,
  .btn:visited:hover,
  .btn:link:hover {
    border-color: #252b46;
    box-shadow: 0 0.5rem 1rem rgba(145, 148, 161, 0.35);
    transform: translateY(-0.2rem); }
  .btn:active,
  .btn:visited:active,
  .btn:link:active {
    border-color: #252b46;
    box-shadow: 0 0.2rem 1rem rgba(145, 148, 161, 0.3);
    transform: translateY(0.2rem); }

.btn--primary {
  background-color: #5368df;
  color: #fff; }
  .btn--primary:hover {
    background-color: #fff;
    border-color: #5368df;
    color: #5368df; }

.btn--secondary {
  background-color: #fa5757;
  color: #fff; }
  .btn--secondary:hover {
    background-color: #fff;
    border-color: #fa5757;
    color: #fa5757; }

.btn--regular {
  background-color: #eaecf0;
  color: #252b46; }

.btn--wide:link, .btn--wide:visited {
  padding: 1rem 4rem;
  text-align: center; }

.list {
  list-style: none;
  width: 60rem; }
  .list__question-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    border-top: 1px solid rgba(145, 148, 161, 0.3); }
    .list__question-item:last-child {
      border-bottom: 1px solid rgba(145, 148, 161, 0.3); }
    .list__question-item__head {
      width: 100%;
      display: flex;
      justify-content: space-between;
      cursor: pointer; }
      .list__question-item__head h4, .list__question-item__head i {
        transition: all .3s ease; }
      .list__question-item__head i {
        color: #5368df;
        font-size: 2rem;
        margin: 0 2rem; }
      .list__question-item__head:hover h4 {
        color: #fa5757; }
    .list__question-item__body {
      margin-top: 3rem; }
  .list .closed {
    display: none; }
  .list .expanded {
    display: block; }

.list > * {
  transition: all .1s ease; }

.tab {
  display: inline-block;
  text-decoration: none;
  padding: 3rem 4rem;
  border-bottom: 4px solid transparent;
  color: #252b46;
  transition: all .2s ease-in; }
  .tab:hover {
    border-bottom: 4px solid #9194a1; }

.tab.active {
  border-bottom: 4px solid #fa5757; }

.card {
  text-align: center;
  padding: 2.5rem;
  padding-top: 8rem;
  border-radius: 1.2rem;
  box-shadow: 0 1.5rem 2rem rgba(145, 148, 161, 0.2);
  position: relative; }
  .card__img {
    margin-bottom: 3rem; }
  .card__datails {
    font-size: 1.5rem;
    color: #9194a1;
    margin-bottom: 4rem; }
  .card__btn-box {
    backface-visibility: hidden; }
    .card__btn-box::before {
      content: "";
      left: 0;
      width: 100%;
      position: absolute;
      border-top: 0.5rem dotted #9194a1;
      opacity: .3; }
    .card__btn-box .btn {
      margin-top: 3rem;
      padding: 1.2rem 3.5rem; }

.container header {
  width: 100%;
  height: 80vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  position: relative; }
  .container header::after {
    content: "";
    width: 70rem;
    height: 30rem;
    background-color: #5368df;
    position: absolute;
    border-radius: 20rem 0 0 20rem;
    right: 0%;
    transform: translateX(28.5rem) translateY(32rem);
    z-index: -1;
    animation: slide-from-left-hero-shape 1.5s ease;
    animation-delay: 0.2s;
    animation-fill-mode: backwards; }
  .container header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: slide-from-up 1.5s ease;
    animation-delay: 0.2s;
    animation-fill-mode: backwards; }
    .container header .menu__logo {
      display: inline-block; }
      .container header .menu__logo img {
        width: 20rem; }
    .container header .menu__nav__link, .container header .menu__nav:link, .container header .menu__nav:visited {
      display: inline-block;
      margin-right: 4.5rem;
      text-decoration: none;
      text-transform: uppercase;
      color: #252b46;
      font-weight: 400;
      font-size: 1.6rem;
      opacity: 0.5; }
      .container header .menu__nav__link:hover, .container header .menu__nav:link:hover, .container header .menu__nav:visited:hover {
        opacity: 1;
        color: #fa5757; }
  .container header .hero {
    display: flex;
    align-items: center;
    margin: 10rem 0; }
    .container header .hero__info {
      max-width: 50rem;
      margin-right: auto;
      animation: slide-from-left 1.5s ease;
      animation-delay: 0.2s;
      animation-fill-mode: backwards; }
      .container header .hero__info .paragraph {
        max-width: 49.6rem; }
    .container header .hero__img {
      z-index: 10; }
      .container header .hero__img img {
        width: 100%;
        transform: translateX(10rem);
        animation: slide-from-right-hero-image 1.5s ease;
        animation-fill-mode: backwards; }

@media screen and (max-width: 1500px) {
  .container {
    margin: 0 8%; } }

.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }
  .features::after {
    content: "";
    width: 70rem;
    height: 30rem;
    background-color: #5368df;
    position: absolute;
    border-radius: 0 20rem 20rem 0;
    left: 0%;
    transform: translateX(-28.5rem) translateY(50rem);
    z-index: -1; }
  .features .tabs {
    border-bottom: 1px solid rgba(145, 148, 161, 0.3); }
  .features .features__tabs-content-box {
    width: 100%;
    display: flex;
    flex-direction: column; }
    .features .features__tabs-content-box .tab-content {
      display: flex;
      flex-direction: row-reverse;
      align-items: center; }
      .features .features__tabs-content-box .tab-content__info {
        max-width: 50rem; }
        .features .features__tabs-content-box .tab-content__info .paragraph {
          max-width: 49.6rem; }
      .features .features__tabs-content-box .tab-content__img-box {
        z-index: 10;
        margin-right: auto; }
        .features .features__tabs-content-box .tab-content__img-box img {
          width: 100%; }
    .features .features__tabs-content-box .hiden {
      display: none; }
    .features .features__tabs-content-box .active {
      display: flex; }

.extensions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20rem 0 20rem 0; }
  .extensions .extensions__cards-box {
    display: flex;
    flex-direction: row; }
    .extensions .extensions__cards-box .card:not(:last-child) {
      margin-right: 4rem; }
    .extensions .extensions__cards-box .card:nth-child(2) {
      transform: translateY(4rem); }
    .extensions .extensions__cards-box .card:nth-child(3) {
      transform: translateY(8rem); }

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 30rem 0 20rem 0; }

.news-letter {
  background-color: #5368df;
  width: 100%;
  height: 40vh;
  color: #fff;
  padding: 7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
